<h1> Dish Show Page </h1>
<section id="dish_info">
  <h2>Name: <%= @dish.name %> </h2>
  <p>Description: <%= @dish.description %> </p>
  <p>Total Calories: <%= @dish.total_calories %> </p>
  <p>Chef: <%= @dish.chef.name %> </p>
</section>

<section id="ingredients">
  <h2>Ingredients</h2>
  <% @ingredients.each do |ingredient| %>
    <p> <%= ingredient.name %> </p>
  <% end %>
  </section>

  <section id="new_ingredient">
    <h2>Add Ingredient</h2>
    <%= form_with model: @dish_ingredient, url: dish_ingredients_path(@dish), local: true do  |form|%>
      <%= form.hidden_field :dish_id, value: @dish.id %>
      <%= form.label :ingredient_id %>
      <%= form.text_field :ingredient_id %>
      <%= form.submit "Add Ingredient"%>
    <% end %>
  </section>